**/*.d
**/*.slo
**/*.lo
**/*.o
**/*.gch
**/*.pch
**/*.so
**/*.dylib
**/*.mod
**/*.smod
**/*.lai
**/*.la
**/*.a
**/*.out
**/*.app
**/*.db
**/*.tlog
**/*.opendb
**/*.db-shm
**/*.db-wal
**/*.ipch
**/*.ilk
**/*.lastbuildstate
**/unsuccessfulbuild

*.d
*.slo
*.lo
*.o
*.gch
*.pch
*.so
*.dylib
*.mod
*.smod
*.lai
*.la
*.a
*.out
*.app
*.db
*.tlog
*/*.tlog
*.opendb
*.db-shm
*.db-wal
*.ipch
*.ilk
*.lastbuildstate
unsuccessfulbuild
